build
pico/bootrom
pico/c/disk.h
pico/c/bootrom.h
rom/build
rom/*.lst
rom/*.sym
rom/asm/*.lst
rom/asm/*.sym
rom/release
rom/bin
pcb/SVI-3x8-PicoExpander-backups
pcb/fp-info-cache
pcb/*.zip
pcb/*.lck
wifi-credentials.config
release/wifi-credentials.bin
images
